<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="article.title" class="form-control" id="title" placeholder="Article Title Here" />
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">URL</label>
    <div class="col-sm-10">
        <input type="text" ng-model="article.url" class="form-control" id="year" placeholder="When was the article released?" />
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Text</label>
    <div class="col-sm-10">
        <input type="text" ng-model="article.text" class="form-control" id="director" placeholder="Who directed the article?" />
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="article.id" class="form-control" id="plot" placeholder="Article genre here" />
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>