<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.title" class="form-control" id="title" placeholder="Article Title Here" />
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.status" class="form-control" id="year" placeholder="When was the article released?" />
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
        <input type="text" ng-model="task.id" class="form-control" id="plot" placeholder="Article genre here" />
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>